#characterList {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

#small-character-icon {
    border-radius: 100%;
    object-fit: cover;
    object-position: 100% 0;
    height: 12vh;
    width: 12vh;
    min-height: 6vh;
    min-width: 6vh;
    
}
#small-character-icon:hover {  
    transition: all ease-in .5s;      
    margin: 0em .5em;
    height: 15vh;
    width: 15vh;
    filter: drop-shadow(0 0 0.75rem grey)
}

#playbook{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
}

#left{
    text-align: left;

}

#stale-text {
    font-family: 'Special Elite', cursive;
}

#flavor-text {
    font-size: 4vh;
    font-family: 'Nothing You Could Do', cursive;
    font-style: italic;
}
#playbook-image {
        object-fit: cover;
        height: 40vh;
        min-height: 6vh;
}

#playbook-name {
    font-family: 'Special Elite', cursive;
    font-size: 5vh;
}

#name{
    margin-top: -.1em;
    margin-bottom: .1em;
    visibility: hidden;
}



