li, p {
    text-align: left;
}

.group {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x:auto;
        padding: 0vw 5vw;
        align-content: center;
        height: 100vw;
}

#moveCard >h2{
    font-family: 'Special Elite', cursive;
}
#moveCard >h5{
    font-family: 'Special Elite', cursive;
}

#moveCard{
    padding: 2em;
    max-height: 35vw;
    min-height: 20vw;
    margin: 1em;
    text-align: center;
    display: flex !important;
    font-family: 'Special Elite', cursive;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#moveCard::-webkit-scrollbar { width: 0 !important }



