li, p {
    text-align: left;
}

#group {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vw;
}

#moveCard{
    padding: 2em;
}



