li, p {
    text-align: left;
}

.group {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0vw 5vw;
        align-content: center;
        height: 100vw;
        overflow-x: auto;
}

#moveSelector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

#moveSelector > button {
    margin: 1vw;
    height: 2em;
    border-radius: 10%;
    font-family: 'Special Elite', cursive;
}

#moveSelector > button:hover{
    font-weight: bold;
    font-size: 125%;
}

#moveCard >h2{
    font-family: 'Special Elite', cursive;
}
#moveCard >h5{
    font-family: 'Special Elite', cursive;
}

#moveCard{
    padding: 2em;
    max-height: 50vw;
    min-height: 20vw;
    margin: 1em;
    text-align: center;
    display: flex !important;
    font-family: 'Special Elite', cursive;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#moveCard::-webkit-scrollbar { width: 0 !important }



